.has-background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: padding-box;
}

.has-background-image:has(.cover-background-image) {
  padding: 0;
}

.has-background-image > .cover-background-image{
  background-color: var(--background-color-above-img);
  transition: background-color 0.2s;
  /* 需要设置为父元素原内边距 */
  border-radius: inherit;
  display: block;
  height: 100%;
  width: 100%;
}

.has-background-image.floating > .cover-background-image:hover {
  background-color: var(--background-color-card-hover);
}

.has-background-image.floating > .cover-background-image:active {
  background-color: var(--background-color-card-active);
}

.card-1 > .cover-background-image,
.card-2 > .cover-background-image,
.card-3 > .cover-background-image,
.card-4 > .cover-background-image {
  padding: var(--card-padding);
}